In [3]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.ion()

In [4]:
dataset="https://raw.githubusercontent.com/aceburakhol/dataset/main/unemployment%20analysis.csv"
data=pd.read_csv(dataset)

In [5]:
data.head(6)

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
5,Arab World,ARB,11.62,12.12,12.86,12.95,13.32,12.38,11.95,11.97,...,10.66,10.74,10.87,10.97,10.76,10.90,10.50,10.01,11.49,11.63

In [6]:
def diss (x,y):
  a = 2 
  b = 0
  for col in ['1991','1993']:
    if data [col][x] == data[col][y]:
      b+=1
      return (a-b)/a

In [10]:
print(diss(1,1))
print(diss(1,1))
print(diss(4,4))

0.5
0.5
0.5

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)